<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio, writing, projects.">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="">
  <meta property="og:title" content="Paul Burkinshaw - Software Developer">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://paulburkinshaw.github.io/">
  <meta property="og:description" content="Portfolio, writing, projects.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="Portfolio, writing, projects">
  <meta name="twitter:title" content="Paul Burkinshaw - Software Developer">
  <meta name="twitter:site" content="@pauljburkinshaw">
  <meta name="twitter:image" content="">
  <meta name="twitter:creator" content="@pauljburkinshaw">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" sizes="144x144">
  <title>Paul Burkinshaw - Software Developer</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>

</head>

<body class="home" id="home">

  <div class="sections">

    <div class="loading-stripes">

      <div class="loading-screen">
        <div>
          WEBSITE IS LOADING
        </div>
        <div class="please-wait">
          PLEASE WAIT
        </div>

      </div>

      <header class="animated fadeInUp flex flex-column">
        <div class="flex-auto flex items-center">

          <span class="spectrum-title" id="spectrum-title">
            <h1>

              Paul is a software developer
              <br>
              specialising in BASIC/z80 Assembly
              <br>
            </h1>
          </span>

          <span class="modern-title" id="modern-title">
            <h1>

              Paul is a software developer
              specialising in <span id="c-sharp">c#/.net</span>
              <br>
            </h1>
          </span>

        </div>

        <div class="button-wrapper">
          <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
          <label for="toggle-on" class="btn">1984</label>
          <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
          <label for="toggle-off" class="btn">2020</label>
        </div>


        <div class="flex-static darr animated" id="scrollme">↓</div>

      </header>
    </div>

  </div>

  <div class="modern-sections modern-sections-hide">

    <div id="about" class="flex-auto flex items-center">
      <section>
        <!-- <h2>ABOUT</h2>
        <div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".25s"
          style="animation-delay: 0.25s;"></div> -->
        <h3>
          Paul has been developing software since he learned to program his ZX Spectrum at 8 years old.
          He's progressed to slightly more powerful machines since then but his love for software development remains.
          <br>
          <br>
          Now in his 13th year in the industry Paul has developed solutions for desktop, web, mobile, and cloud
          platforms using a wide range of front and backend technology. He now focuses on full stack development across
          the <span id="area-of-expertise">C# /.Net / JavaScript stack.</span>
          <br>
          <br>
          He has consulted for startups, worked with small to large businesses in the public and private sector in the
          construction, utilities, and retail industry
          as well as clients in the charity and voluntary sector.

          Recent clients include BP, EDF, and Royal Mail.

          <!-- though he is comfortable developing within any 

          Now in his 13th year in the industry Paul has developed solutions for desktop, web, mobile, and cloud
          platforms and has worked with small to large businesses in the public and private sector.
          Recent clients include BP, EDF, and Royal Mail. -->

          <!--  Now in his 13th year in the industry he's worked with public and private sector clients in the construction, utilities, and retail industry 
          as well as clients in the charity and voluntary sector. 

          More recently due to the global situation he has been carrying out work remotely.  -->

          <!--  he has developed solutions for desktop, web, and mobile devices for both
          business and consumer and 
          
          use using a wide range of front and backend technology -->

          <!-- Now in his 13th year in the industry Paul has developed solutions for desktop, web, mobile, and cloud
          platforms and has worked with small to large businesses in the public and private sector, consulted for
          startups,
          and more recently due to the global situation carried out work remotely.
          Recent clients include BP, EDF, and Royal Mail. -->

          <!--  using a wide of technology, though his main area of expertise is in full stack web
          development across a <span id="area-of-expertise">C# /.Net / JavaScript stack.</span> -->

          <!--   <br>
          <br>
          He has worked with small to large businesses in the public and private sector, consulted for startups,
          and more recently due to the global situation carried out work remotely.
          Recent clients include BP, EDF, and Royal Mail. -->

          <!--  He has worked with small to large businesses in the public and private sector, consulted for startups, 
          and more recently due to the global situation carried out work remotely.  -->

          <!--  Experienced with a wide range of front and backend technology
          though he is an expert in the C# / .Net / JavaScript stack. -->


          <!--  In my professional career I've done remote work for agencies, consulted for startups,
          and worked with small to large companies in the public and private sector creating products for both
          business and consumer use. -->
          <br>
          <br>

          <!--  Take a look at the types of services offered on the next page and if you're interested in collaborating 
          or have a project you need help with use the contact form at the bottom of this page.  -->

          <!--  alternatively or he can be contacted directly <a target="new"
            href="mailto:paul.burkinshaw@gmail.com">here</a> -->

        </h3>

        <!--  <div class="flex-static darr animated" id="scrollme-about">↓</div> -->

      </section>

    </div>


    <div id="expertise" class="flex-auto flex items-center">
      <section>

        <h2>Expertise</h2>
        <div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".25s"
          style="animation-delay: 0.25s;"></div>

        <div class="expertise-full-stack">
          FULL STACK DEVELOPMENT
        </div>

        <div class="expertise-full-stack-verical-line"></div>

        <div class="container flex expertise-container">
          <div class="expertise-full-stack-horizontal-line"></div>
          <div class="expertise-full-stack-verical-line-frontend"></div>
          <div class="expertise-full-stack-verical-line-backend"></div>
          <div class="expertise-full-stack-verical-line-databases"></div>
          <div class="expertise-full-stack-verical-line-devops"></div>
        </div>

        <div class="flex-container">
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">important_devices</i>
            </div>
            <div class="expertise-item-label">
              Frontend
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>HTML5/CSS3</li>
              </ul>

            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">code</i>
            </div>
            <div class="expertise-item-label">
              Backend
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>C#</li>
                <li>.Net Core</li>
                <li>ASP.Net Core</li>
                <li>GraphQL</li>
              </ul>
            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">integration_instructions</i>
            </div>
            <div class="expertise-item-label">
              Database
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>SQL Server</li>
                <li>EF Core</li>
                <li>Cosmos DB</li>
                <li>GraphQL</li>
              </ul>
            </div>
          </div>
          <div class="flex-item-last">
            <div class="circle">
              <i class="material-icons code">settings_system_daydream</i>
            </div>
            <div class="expertise-item-label">
              DevOps
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Azure</li>
                <li>Docker</li>
                <li>Microservices</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="services" class="flex-auto flex items-center">

      <section>

        <h2>Services & Solutions</h2>
        <div class="header-bar"></div>


        <div class="flex-container">
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">important_devices</i>
            </div>
            <div class="expertise-item-label">
              Frontend
            </div>
            <div class="header-bar-service"></div>
            <div>
              <p>Clean responsive design, simple content structure, and thoughtful interactions</p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Design/Implement frontend application</li>
                <li>Design/Implement SPA</li>
                <li>Build visual dashboards</li>
                <li>Migrate existing/legacy application</li>
                <li>Fix/update existing/legacy application</li>
              </ul>
            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">code</i>
            </div>
            <div class="expertise-item-label">
              Backend
            </div>
            <div class="header-bar-service"></div>
            <div>
              <!-- <p>Back end solutions that scale written with high-quality, well-tested, maintainable code that
                adheres to software design principles and best practices.</p> -->
                <p>Back end solutions that scale written with high-quality, well-tested, maintainable code</p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Build REST/GraphQL APIs</li>
                <li>Integration with existing /3rd party APIs</li>
                <li>Build .Net Core applications</li>
                <li>Build Microservice oriented applications</li>
                <li>Containerize applications</li>            
                <li>Build message bus pipeline</li>
                <li>Fix/update existing backend application/API</li>
              </ul>
            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">integration_instructions</i>
            </div>
            <div class="expertise-item-label">
              Database
            </div>
            <div class="header-bar-service"></div>
            <div>
             <!--  <p>Combining everything in the front and backend tiers to provide robust full stack applications to suit a
                multitude of client needs</p> -->
                <p>
                 Latest data storage solutions hosted on site or in the cloud integrated into your apps using latest technologies and ORMs
                </p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>On site and cloud storage solutions (Azure SQL, CosmosDB etc)</li>
                <li>RDMS / NoSQL / Graph database options</li>
                <li>Integration using latest technologies and ORMs (EF Core etc)</li>
                <li>Upgrade/Migrate existing database</li>
              </ul>
            </div>
          </div>
          <div class="flex-item-last">
            <div class="circle">
              <i class="material-icons code">settings_system_daydream</i>
            </div>
            <div class="expertise-item-label">
              DevOps
            </div>
            <div class="header-bar-service"></div>
            <div>
              <!-- <p>Great applications need a great platform to run on. Full setup and configuration of cloud
                infrastructure can be provided as well as advice and guidance</p> -->
                <p>Great applications need a great platform to run on. Whether on site or in the cloud we provide full end to end setup and configuration as well as general advice and guidance</p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Setup / Configure CI/CD pipeline</li>
                <li>Deploy apps to cloud</li>
                <li>Microservices build / configururation / deployment</li>
                <li>Docker container configuration / deployment</li>
                <li>Agile/DevOps best practices guidance and advice</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div id="contact" class="flex-auto flex items-center">

      <section>
        <h2>CONTACT</h2>
        <div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".25s"
          style="animation-delay: 0.25s;"></div>

        <h5>Have a question or want to work together? </h5>
        <form action="https://formspree.io/xzbjrgyw" method="POST" id="contact-form">
          <label>

            <input type="text" name="_replyto" placeholder="Enter email">
          </label>
          <label>

            <textarea name="message" placeholder="Your Message"></textarea>
          </label>

          <!-- other form fields go here -->

          <button type="submit">Send</button>
        </form>
      </section>

    </div>


    <footer>

      <i class="material-icons code back-to-top">arrow_circle_up</i>

      <div class="links">
        <a href="https://paulburkinshaw.github.io/understanding-software/" target="_blank">
          Blog
        </a>

        <a href="https://www.linkedin.com/in/pburkinshaw/" target="_blank">
          LinkedIn
        </a>

        <a href="https://twitter.com/pauljburkinshaw/" target="_blank">
          Twitter
        </a>

        <a href="https://github.com/paulburkinshaw/" target="_blank">
          GitHub
        </a>
      </div>

      <div class="footnote">
        PAUL BURKINSHAW <span class="highlight">©2020</span>
      </div>

    </footer>

  </div>

  </div>

  <script>


    $("#scrollme").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#about").offset().top
      }, 1000);
    });

    $("#scrollme-about").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact").offset().top
      }, 1000);
    });

    $("#scrollme-about").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact").offset().top
      }, 1000);
    });

    $(".back-to-top").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#home").offset().top
      }, 1000);
    });



    $("#slider-checkbox").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").addClass("hide-spectrum-title");
        $("#modern-title").addClass("show-modern-title");

        $("body").addClass("modernise");
      }
    });

    $("#toggle-off").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").addClass("hide-spectrum-title");
        $("#modern-title").addClass("show-modern-title");
        $(".modern-sections").addClass("show-modern-sections");
        $(".modern-sections").removeClass("modern-sections-hide");
        $("#scrollme").removeClass("hide-element");
        $("#scrollme").addClass("fadeInDown");
        $(".home").addClass("modern-home");
        $(".button-wrapper").addClass("button-wrapper-modern");
        $("body").addClass("modernise");
      }
    });

    $("#toggle-on").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").removeClass("hide-spectrum-title");
        $("#modern-title").removeClass("show-modern-title");
        $(".modern-sections").removeClass("show-modern-sections");
        $(".modern-sections").addClass("modern-sections-hide");
        $("#scrollme").addClass("hide-element");
        $("#scrollme").removeClass("fadeInDown");
        $(".home").removeClass("modern-home");
        $(".button-wrapper").removeClass("button-wrapper-modern");
        $("body").removeClass("modernise");
      }
    });


  </script>


</body>

</html>